<h1><%= @pet.name %>'s Current Applicants</h1>
<% if @current_applicants.empty? %>
  <p><%= @pet.name %> has no current applications.</p>
  <% else %>
  <% @current_applicants.uniq.each do |app| %>
  <p><%= link_to app.name, "/apps/#{app.id}" %></p><br>
  <% end %>
<% end %>
